*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  height: 100%;
  height: 100%;
}
.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.note{
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  

}
.form-note{
  display: flex;
  gap: 10px;
  padding: 20px;
}
.form-note input{

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}