.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-container{
       
        padding-inline: 2rem;
        padding-block: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(26, 3, 7, 0.75);
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #221a1a;

        h1{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                padding-block: 1rem;
                padding-inline: 1rem;
                border-radius: 1rem;
                border: none;
                outline: none;
            }
        }

        p{
            text-align: center;
            .toggleAuthForm{
                text-decoration: none;
                color: #e76711;
                

            }
        }
        
    }
}