button{
  
    border: none;
    cursor: pointer;
    background-color: crimson;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
   
    &.primary-button{
        background-color:crimson;
        color: whitesmoke;
    }

    &:active{
        transform: scale(0.9);
        
    }

}